.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Center the content vertically */
    text-align: center;
    border: solid black 2px;
    padding: 20%;
    margin-top: 2%;
    border-radius: 10px;
    width: 60%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}